rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{email}/documents/{docId} {
      allow read: if request.auth != null
                  && request.auth.token.email == email;
    }
    match /users/{email}/assets/{assetId} {
      allow read: if request.auth != null
                  && request.auth.token.email == email;
    }
  }
}
